body {

    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    background-repeat:no-repeat 100%;
    background-attachment:fixed;
    }

.titre {        
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    }
        
.soustitre {
    margin-bottom: 30px;
    text-align: center;
    }
    